@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body {
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 0;
}

/* Utility classes ********************************************/

a { text-decoration: none; }

.text-bold { font-weight: bold;}

.rounded { border-radius: 999px; }

.flex { display: flex; }

.items-center { align-items: center; }

.flex-right { margin-left: auto; }

.text-2xl { font-size: 2.8em; }

.icon { font-size: 1.4em;}

.button {
    display: inline-block;
    padding: 16px 24px;
    color: #333;
    cursor: pointer;
}

.primary.button {
    color: #fff;
    background-color: #f57c00;
}

.secondary.button { background-color: #eee; }

.primary.link { color: #f57c00; }

.wrapper {
    margin: 0 auto;
    width: 999px;
    max-width: 100%;
}

/* Component style *******************************/

.main-navbar,
.main-header,
.main-content, 
.main-footer {
    padding: 0 18px;
}

.main-navbar { padding: 20px 18px;}

.identity { color: #000; }

.logo { width: 86px; margin: 0 -10px; }

.title a { color: #000; }

.main-navbar .button {
    color: #fff;
    background-color: #f57c00;
    padding: 10px 14px;
}

.navigation { list-style: none; }

.desktop.navigation li { display: inline-block; }

.desktop.navigation li { margin-right: 16px; }

.desktop.navigation a { font-weight: bold;}

.desktop.navigation a { color: #666; }

.navigation-container { position: relative; }

.mobile.navigation {
    display: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    margin-top: 0;
    background: #333;
    border-radius: 6px 0 6px 6px;
    padding: 8px;
}

.mobile.navigation li:not(:last-of-type) a { 
    border-bottom: 1px solid;
}

.mobile.navigation a {
    display: block; 
    color: #fff; 
    padding: 10px 20px;
    font-weight: bold;
}

.mobile.navigation a.contact { border-radius: 0 0 4px 4px;}

.menu-toggle:hover, .menu-toggle:active {
    background-color: #333;
    border-radius: 20px 20px 0 0;
}

.menu-toggle:hover + .navigation.mobile, 
.menu-toggle:active + .navigation.mobile, 
.navigation.mobile:active {
    display: block;
}

.main-header { padding: 126px 18px; }

.main-header .actions > a { margin-right: 12px;}

.main-header h2 { margin: 20px 0; }

/* Responsive style *******************************/
.mobile { display: none; }

@media (max-width: 768px) {
    .desktop { display: none; }
    .mobile { display: block; }
    .main-header { padding: 80px 18px; }
}
